<%- include("partials/header.ejs") %>
    <section id="manga">
        <h1 id="about">About</h1>
        <div class="border mid">
            <p>Welcome to my personal review space where I, <a target="_blank" href="https://royceandrew.github.io/">Royce Andrew</a>, share my thoughts on series, movies, manga, and anime. Inspired by platforms like MyAnimeList, this website is designed to provide honest and detailed reviews, along with ratings, to help fellow fans discover new content or rethink old favorites.</p>

            <p>Whether you're into binge-watching the latest hit series, diving into classic manga, or exploring hidden anime gems, you’ll find something here. My goal is to build a community of like-minded enthusiasts where we can exchange recommendations, opinions, and share the love for all things storytelling.</p>
            <img id="gif" src="https://media1.tenor.com/images/e3f6a0aea07e3e938cbb55925906664f/tenor.gif?itemid=17579879" alt="Leonardo Dicaprio watching TV meme">
        </div>
    </section>
<%- include("partials/footer.ejs") %>